<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../stylesheets/forgetPassword.css">
    <script type="text/javascript" src="../javascripts/jquery-1.11.1.min.js"></script>
</head>
<body>
<div class="form_container">
    <div class="header">
        <button class="back"></button>
        <h3 class="form_header">ForgetPassword</h3>
    </div>

    <hr/>

    <div class="input_container">
        <label class="form_label"><b>Account</b></label>
        <span class="icon icon-account"></span>
        <input type="text" id="account" class="form_input" placeholder="Enter Account" name="account" required>
        <span id="accountSame" style="color: red;display: none">this account has existed!</span>
    </div>

    <div class="input_container">
        <label class="form_label"><b>NewPassword</b></label>
        <span class="icon icon-password"></span>
        <input type="password" id="password" class="form_input" placeholder="Enter Password" name="password" required>
    </div>


    <div class="input_container">
        <label class="form_label"><b>Confirm</b></label>
        <span class="icon icon-password"></span>
        <input type="password" id="confirmPassword" class="form_input" placeholder="Enter Password Again" name="confirmPassword" required>
        <span id="pwdSame" style="color: red;display: none">two passwords are not same!</span>
        <span id="notContentPwd" style="color: red;display: none">密码不符合要求，必须包含字母含数字的6-10个字符</span>
    </div>

    <div class="input_container">
        <label class="form_label"><b>Phone</b></label>
        <span class="icon icon-phone"></span>
        <input type="text" id="phone" class="form_input" placeholder="Enter Phone" name="phone" required>
    </div>

    <button type="submit" id="submit" class="form_register_button">修改</button>
</div>
</form>

<script>
    var OK = false;
    $("#confirmPassword").blur(function () {
        var password = $("#password").val();
        var confirmPassword = $("#confirmPassword").val();
        console.log(password, confirmPassword);
        if (password != confirmPassword && password != ''){
            $("#confirmPassword").val("");
            $("#password").val("");
            $("#pwdSame").css("display","block");
            OK = false;
        }else if (password != "") {
            if (!checkPassword(password)){
                $("#notContentPwd").css("display","block");
                OK = false;
            }
            OK = true;
        }
    });

    function checkPassword(password){
        //6-10个包含字母和数字的字符串
        let b = /^(?![^a-zA-Z]+$)(?!\D+$).{6,10}$/;
        return b.test(password);
    }

    $(":password").keydown(function () {
        $("#pwdSame").css("display","none");
        $("#notContentPwd").css("display","none");
    });

    $(":text").keydown(function () {
        $("#accountSame").css("display","none");
    });

    $("#submit").click(function () {
        var account = $("#account").val();
        var password = $("#password").val();
        let phone = $("#phone").val();
        if (account == "" && password == "" && phone == ""){
            OK = false;
            alert("account,password or phone is empty!");
        }
        if (OK){
            $.ajax({
                url:"../forgetPassword?account="+account+"&password="+password+"&phone="+phone+"",
                type:"get",
                success:function (data) {
                    console.log("success");
                    alert("修改成功！");
                    location.href = "/login.html";
                },
                error:function (data) {
                    console.log("fail");
                }
            })
        }
    });

    $(".back").click(function () {
        history.go(-1);
    });
</script>
</body>
</html>